.App {
  margin: 0px;
  padding: 30px;
  text-align: center;
  background:  url('https://wallpaperaccess.com/full/1794017.png');
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  width: 100vw;
}
